body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.navcss {
  font-size: 15px;
  background-color: #1bb4b9;
  height: 40px;
}

.color {
  background-color: #f5b120;
  padding: 8.5px;
}

a {
  color: #e96b56;
  text-decoration: none;
}

a:hover {
  color: #e6573f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e96b56;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ee8b7a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #545454;
  padding: 10px 0;
  font-size: 14px;
}

#topbar .contact-info i {
  font-style: normal;
  color: #e96b56;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #e96b56;
}

#topbar .social-links a {
  color: #bababa;
  line-height: 0;
  transition: 0.3s;
  margin-left: 10px;
}

#topbar .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 26px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid #e96b56;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #545454;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #545454;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #e96b56;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #e96b56;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #ec7f6d;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #545454;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #e96b56;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #545454;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(59, 59, 59, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #545454;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #e96b56;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e96b56;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 85vh;
  background-color: rgba(59, 59, 59, 0.8);
  overflow: hidden;
  padding: 0;
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}

#hero .carousel-item {
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.103);
  /* background-color: rgba(255, 255, 255, 0.6); */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 120px;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #2e2e2e;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #e96b56;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: arken(#545454, 15);
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #545454;
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #e96b56;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: 0.2;
}

#hero .carousel-indicators li.active {
  opacity: 1;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #e96b56;
  background: #e96b56;
}

#hero .btn-get-started:hover {
  background: transparent;
  color: #e96b56;
  text-decoration: none;
}

@media (max-height: 768px),
(max-width: 1200px) {
  #hero {
    margin-bottom: 60px;
  }

  #hero .carousel-container {
    padding-bottom: 0;
  }

  #hero .carousel-indicators li {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

/* .featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #3fbbc0;
  transition: all 0.3s ease-in-out;
} */
.activity-area {
  padding: 60px 0 56px;
  text-align: center;
}

.single-activity-icon {
  border: 1px solid #1bb4b9;
  border-radius: 50%;
  color: #1bb4b9;
  display: inline-table;
  font-size: 72px;
  height: 162px;
  margin-bottom: 25px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 162px;
}

.single-activity:hover .single-activity-icon {
  background: #1bb4b9 none repeat scroll 0 0;
  color: #ffffff;
}

.iconsize {
  margin-top: 46px;
  font-size: smaller;
}

.activity:nth-child(2) .single-activity .single-activity-icon {
  border-color: #f5b120;
  color: #f5b120;
}

.activity:nth-child(2) .single-activity:hover .single-activity-icon {
  background: #f5b120 none repeat scroll 0 0;
  color: #ffffff;
}

.activity:nth-child(3) .single-activity .single-activity-icon {
  border-color: #93c524;
  color: #93c524;
}

.activity:nth-child(3) .single-activity:hover .single-activity-icon {
  background: #93c524 none repeat scroll 0 0;
  color: #ffffff;
}

.activity:nth-child(4) .single-activity .single-activity-icon {
  border-color: #28a8e3;
  color: #28a8e3;
}

.activity:nth-child(4) .single-activity:hover .single-activity-icon {
  background: #28a8e3 none repeat scroll 0 0;
  color: #ffffff;
}

.bgsection {
  padding: 20px;
  background: #f0f0f0;
}

.advertise-area a {
  background: #1bb4b9 none repeat scroll 0 0;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 38px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section h3 {
  /* padding:15px; */
  margin-top: 30px;
  font-weight: 600;
  /* position: relative; */
}

.section p {
  font-size: 13px;
  /* position: absolute; */
  /* margin-top: 2px; */
}

#nav-icon1 {
  position: relative;
  text-align: center;
  color: #1ac7d3;
  ;
  /* margin: 1px; */
}


#nav-icon1 .span1 {
  /* margin-left: 500px; */
  text-align: center;
  /* display: block; */
  margin-inline-start: -50px;
  position: absolute;
  /* padding: 2px; */
  /* margin: 2px; */
  height: 1px;
  width: 35px;
  /* width: 100%; */
  background: #1ac7d3;
  /* border-radius: 9px; */
}

#nav-icon1 .span2 {
  /* margin-left: 500px; */
  text-align: center;
  /* display: block; */
  position: absolute;
  height: 1px;
  width: 35px;
  margin-inline-start: 28px;
  /* width: 100%; */
  background: #1ac7d3;
  /* border-radius: 9px; */
}

#nav-icon1 .spani {
  position: absolute;
  margin-top: -6px;
  font-size: 12px;
}

.register-area {
  background-image: url("../img/slide/1\ \(1\).jpg");
  /* width: 100%; */
  /* max-width: 400px; */
  /* height: 500px; */
  /* background-image: url(../img/banner/1.jpg); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* height: auto; */
  /* height: 100%; */
  /* width: 100%; */
}

.register-area:after {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.register-info h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 17px;
}

.register-info h4 span {
  color: #f5b120;
}

.register-info {
  padding: 99px 0 97px 0;
  position: relative;
  z-index: 9;
}

.register-info>h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 32px;
}

.timer-grid .cdown {
  padding: 28px 0;
  margin-right: 28px;
}

.timer-grid>div,
.timer-view>div {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  display: inline-block;
  font-size: 15px;
  height: 120px;
  margin-left: 2px;
  width: 120px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  font-weight: 150;
  text-transform: uppercase;
  line-height: 15px;
}

.timer-grid>div span,
.timer-view>div span {
  display: block;
  line-height: 43px;
  font-size: 40px;
}

.account-form {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 4px;
  margin: 64px 0 62px 70px;
  position: relative;
  z-index: 9;
}

.account-form>form {
  margin: 42px 54px 0;
  padding-bottom: 40px;
}

.register-title {
  background: #f5b120 none repeat scroll 0 0;
  border-radius: 3px 3px 0 0;
  padding-bottom: 7px;
  padding-top: 11px;
}

.register-title>h4 {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -2px;
}

.register-title i {
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  margin: 0 12px 0 14px;
}

.account-form input {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  color: #909090;
  font-size: 12px;
  font-weight: 300;
  height: 41px;
  margin-bottom: 10px;
  padding: 0 14px;
  width: 100%;
}

.account-form .button-default {
  margin-top: 11px;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.button-default {
  background: #1bb4b9 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 33px;
  padding: 0 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-default:hover {
  background: #d65a08 none repeat scroll 0 0;
}

.single-service-icon {
  border: 1px solid #1bb4b9;
  border-radius: 50%;
  color: #1bb4b9;
  display: inline-table;
  font-size: 40px;
  height: 90px;
  margin-bottom: 25px;
  text-align: center;
  width: 90px;
}

.single-service-item {
  height: 90px;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
}

.single-service-item-wrapper .single-service-item:last-child {
  margin-bottom: 0;
}

.single-service-text>h4 {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px;
  padding-top: 36px;
  -webkit-transition: padding 0.8s linear 0s;
  transition: padding 0.8s linear 0s;
}

.single-service-item:hover .single-service-text>h4,
.service-style-two .single-service-item .single-service-text>h4 {
  font-weight: 500;
  padding: 0;
}

.single-service-text>p {
  display: none;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-service-item:hover .single-service-text>p {
  display: block;
}

.single-service-icon {
  background: #f5b120 none repeat scroll 0 0;
  border: 1px solid #f5b120;
  border-radius: 50%;
  color: #ffffff;
  display: inline-table;
  font-size: 30px;
  height: 90px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.3s ease-in 0s;
  width: 90px;
}

.single-service-icon i {
  display: table-cell;
  vertical-align: middle;
}

.single-service-item:hover .single-service-icon {
  background: #ffffff none repeat scroll 0 0;
  color: #f5b120;
}

.service-area .col-md-4:first-child .single-service-item-wrapper {
  margin-right: 30px;
  margin-top: 30px;
}

.service-area .col-md-4:last-child .single-service-item-wrapper {
  margin-left: 30px;
  margin-top: 30px;
}

.service-area .col-md-4:first-child .single-service-icon {
  float: right;
}

.service-area .col-md-4:first-child .single-service-text {
  padding-right: 112px;
  text-align: right;
}

.service-area .col-md-4:last-child .single-service-icon {
  float: left;
  left: 0;
  right: auto;
}

.service-area .col-md-4:last-child .single-service-text {
  padding-left: 112px;
  text-align: left;
}

.serviceimg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.fun-factor-area {
  /* padding:20px; */
  margin-top: 40px;
  background-image: url("../img/slide/3.jpg");
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 61px 0 53px;
  position: relative;
  overflow: hidden;
  /* z-index: 1; */
}

.fun-factor-icon {
  color: #f0f0f0;
  font-size: 24px;
  margin-bottom: 25px;
}

.single-fun-factor {
  text-align: center;
}

.single-fun-factor>h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 10px;
}

.single-fun-factor>span {
  color: #ffffff;
  font-size: 15px;
}

fun-factor-area:after {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.newsletter-area {
  background: rgba(0, 0, 0, 0) url("../img/slide/n1.jpg") no-repeat scroll center center;
  padding-bottom: 159px;
  padding-top: 233px;
}

.newsletter-container input,
.newsletter-container textarea {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid rgba(27, 180, 185, 0.1);
  color: #909090;
  height: 42px;
  margin-bottom: 20px;
  padding: 0 14px;
  width: 100%;
}

.newsletter-container h4 {
  float: right;
  font-size: 13px;
  line-height: 24px;
  margin-top: 57px;
}

.newsletter-container .button-default {
  margin-top: 68px;
}

.newsletter-container textarea {
  float: left;
  height: 167px;
  margin-right: 20px;
  overflow: hidden;
  padding-top: 8px;
  resize: none;
  width: 76%;
}


.round_icon_img{
  border-radius:50%;
  box-shadow: 0 0 6px rgba(0,0,0,.25);
  background: #fff;
  width:100px !important;
  height: 100px;
  padding: 16px;
  margin: 15px auto !important;
}

.round_icon_img i{
   font-size: 70px;
    color: #e0571d;

}



/* Circle */
.hover15 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px !important;
    overflow: hidden;

}

.hover15::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(244,229,172,.4);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.hover15:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
.hover15 img{
  transition: all .3s;
}
.hover15:hover img{
  transform: scale(1.2);
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.owl-carousel  .owl-nav .owl-prev:focus,
.owl-carousel  .owl-nav .owl-next:focus {
  outline:none;
}


.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel button.owl-dot{
  outline: none;
}


/*common styling end*/

/*------/ Owl carousel /------*/
/* carousel_se_01 */
.carousel_se_01 .owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.carousel_se_01 .owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.carousel_se_01  .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 5px;
  background: #ff5e14;
  border: 0px solid #ff5e14;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 50%; 
}

.carousel_se_01  .owl-theme .owl-dots .owl-dot:hover span {
  color: #fff;
  background: #ff5e14;
/*  border: 5px double;*/
  padding:5px; 
  border-radius: 50%; 
}

.carousel_se_01  .owl-theme .owl-dots .owl-dot.active span {
  color: #fff;
  background: var(--light_orange);
  /* border: 5px double;*/
  opacity:0.8;
  padding:5px; 
  border-radius: 50%; 
  background:var(--light_orange);
 
}



.carousel_se_01  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 42%;
    right: -40px;
     padding: 0px 15px 6px 15px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 35px;
    line-height: 35px;
    color: #e0571d;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_01  .owl-carousel .owl-nav button.owl-next:hover {
    background:#ff5e14;
    color: #fff;
}
.carousel_se_01  .owl-carousel .owl-nav button.owl-prev {
   position: absolute;
    top: 42%;
    left: -40px;
    padding: 0px 15px 6px 15px !important;
    background: rgb(255, 255, 255);
    display: inline-block;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 35px;
    line-height: 35px;
    color: #e0571d;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
}
.carousel_se_01  .owl-carousel .owl-nav button.owl-prev:hover {
    background:#ff5e14;
    color: #fff;
}



.carousel_se_01 .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.carousel_se_01 .owl-arrow .owl-nav .owl-prev,
.carousel_se_01 .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

.carousel_se_01 .main_services {
    position: relative;
    margin: 30px 0px 40px 0px;
    padding: 40px 15px 32px 15px;
    overflow: hidden;
    text-align: center;
     border: 1px solid transparent; 
    border-radius: 8px 8px;
    /* box-shadow: 12px 14px 0 #ececec; */
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    min-height: 348px;
}

.carousel_se_01 .main_services:hover {
     border: 1px solid #ededed ; 
    box-shadow:none;
}
/* *{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
} */

/* body{
   background: #eee;
} */

/* .container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
} */

/* .container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
} */

.container .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.container .products-container .product {
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.container .products-container .product:hover {
  outline: .1rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img {
  height: 10rem;
}

.container .products-container .product:hover img {
  transform: scale(.2);
}

.container .products-container .product h3 {
  padding: .3rem 0;
  font-size: 1rem;
  color: #444;
}

.container .products-container .product:hover h3 {
  color: #27ae60;
}

/* .container .products-container .product .price {
  font-size: 2rem;
  color: #444;
} */

.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 1rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 30rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 30rem;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: .5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i {
  color: #27ae60;
}

.products-preview .preview .stars span {
  color: #999;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}


@media (max-width:991px) {

  html {
    font-size: 55%;
  }

}

@media (max-width:768px) {

  .products-preview .preview img {
    height: 25rem;
  }

}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

}

.img about {
  margin-top: 40px;
  background-image: url("../img/slide/about\ b.jpg");
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 61px 0 53px;
  position: relative;
  overflow: hidden;
}